.portfolioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 70vh;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 380px;
    width: 55vw;
    color: #000;
    margin: 9px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.36);
}

.bgimage {
    transition: 1;
    -webkit-transition: -webkit-filter 0.35s ease-in-out;
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    color: rgb(224, 0, 0);
    padding: 0;
    margin: 0;
    max-width: 380px;
    width: 55vw;
    max-height: 220px;
    height: 44vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bgimage:hover {
    cursor: pointer;
    filter: none;
    color: black;
    -webkit-filter: grayscale(0%);
}

.projects .data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 10px;
    padding: 0;
    padding: 5px 0;
}

.projects .data h3 {
    margin: 0;
    padding: 0px;
}

.projects .data p {
    margin: 0;
    padding: 0 0 10px;
}

.link {
    text-decoration: none;
    margin: 5px 0;
    padding: 5px;
    color: gold;
    border: 1px solid gold;
    border-radius: 5px;
}