.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 50%;
    image-resolution: -webkit-backdrop-filter grayscale(100%);
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 3rem 0;
    padding: 0 3.25rem 0 1.2rem;
    
}

@media only screen and (max-width: 480px) {
    .aboutContainer {
        text-align: center;
    }
    .contentContainer {
        justify-content: center;
    }
    .content {
        width: 100%;
    }
}