main {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 30px;
}

:root {
  --primary: gold;
  --secondary: black;
  --tertiary: silver;
  --light: white; 
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}