/* Style Variables Used throughout the document */

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

    --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --important: gold;
}

.gold {
    color: var(--important)
}

/* Navbar Styles */

/* Home Styles */

/* About Styles */

.about-section {
    color: white;
    position: relative;
    background-color: rgba(19, 16, 16, 0.726);
    padding-bottom: 30px;
    padding-top: 150px;
}

.about-hobby {
    text-align: left;
    padding-left: 1px;
    list-style: none;
}

.about-card {
    border: none;
    background-color: transparent !important;
    color: gold !important;
}

.tech-icons {
    
}

/* Project Styles */

/* Resume Styles */

/* Footer Styles */

/* if used */
/* Preloader */

