/* Style Variables Used throughout the document */

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

    --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --important: gold;
}

.gold {
    color: var(--important)
}

/* Navbar Styles */

/* Home Styles */

/* About Styles */

.about-section {
    color: white;
    position: relative;
    background-color: rgba(19, 16, 16, 0.726);
    padding-bottom: 30px;
    padding-top: 150px;
}

.about-hobby {
    text-align: left;
    padding-left: 1px;
    list-style: none;
}

.about-card {
    border: none;
    background-color: transparent !important;
    color: gold !important;
}

.tech-icons {
    display: table;
    overflow: hidden !important;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    padding: 10px;
    opacity: 0.93;
    border: 1.5px solid gold;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(192, 192, 192, 0.74);
    transition: all 0.4s ease 0s;
    font-size: 4.5em;
}

.tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid gold;
}

@media (max-width: 767px) {
    .about-img {
        padding-top: 0;
    }
    .tech-icons {
        margin: 10px;
    }
}

/* Project Styles */

/* Resume Styles */

/* Footer Styles */

/* if used */
/* Preloader */

