/* Style Variables Used throughout the document */

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

    --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --important: gold;
}

.gold {
    color: var(--important)
}

/* Navbar Styles */

.sticky {
    backdrop-filter: blur(15px);
    background-color: black;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 10px 10px 0px rgb(228, 228, 228) !important;
}

.navbar {
    padding: 0.3rem 2rem;
    position: fixed;
    font-size: 1.2rem;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    color: gold;
}

.logo {
    height: 3.2em;
    width: 9.5em;
}

.nav-link {
    padding: 0.8rem 1rem;
}

.navbar-nav .nav-link {
    color: gold !important;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
}

.navbar-nav .nav-item a {
    z-index: 1;
    position: relative;
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a::after {
    transition: all 0.3s ease-out 0s;
    position: relative;
    display: block;
    background: black;
    z-index: -1;
    height: 5px;
    width: 0;
    border-radius: 16px;
    bottom: 1px;
    left: 0;
    content: "";
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;
}

.navbar-toggler {
    padding: 0.25rem 1.5rem;
    position: relative;
    background-color: transparent;
    border: transparent;
}

.navbar-toggler span {
    display: block;
    opacity: 1;
    left: 0;
    height: 4px;
    width: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: gold;
    transform: rotate(0deg);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

@media (max-width: 780px) {
    .navbar {
        background-color: #181a27 !important;
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }
    .navbar-nav .nav-item a::after {
        display: none;
    }
    .nav-link {
        padding: 0.7rem 1rem;
    }
}

/* Home Styles */

/* About Styles */

.about-section {
    color: white;
    position: relative;
    background-color: rgba(19, 16, 16, 0.726);
    padding-bottom: 30px;
    padding-top: 150px;
}

.about-hobby {
    text-align: left;
    padding-left: 1px;
    list-style: none;
}

.about-card {
    border: none;
    background-color: transparent !important;
    color: gold !important;
}

.tech-icons {
    display: table;
    overflow: hidden !important;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    padding: 10px;
    opacity: 0.93;
    border: 1.5px solid gold;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(192, 192, 192, 0.74);
    transition: all 0.4s ease 0s;
    font-size: 4.5em;
}

.tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid gold;
}

@media (max-width: 767px) {
    .about-img {
        padding-top: 0;
    }
    .tech-icons {
        margin: 10px;
    }
}

/* Project Styles */

/* Resume Styles */

/* Footer Styles */

.footer {
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 7px;
    background-color: rgba(15, 8, 8, 0.616);
}

.footer-copywright {
    text-align: center;
}

.footer-body {
    text-align: center;
}

.footer h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.56em;
    color: gold;
}

.footer-icons {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2.0em;
}

@media (max-width: 780px) {
    .footer-copywright {
      text-align: center ;
    }
  
    .footer-body {
      text-align: center ;
    }
  }
/* if used */
/* Preloader */

